$primaryColor: #4527a4;

.bBlocksInspectorInfo {
	padding: 6px;

	a {
		text-decoration: none;
		font-weight: bold;
	}
}

.bpmbPanelBody {

	.components-grid,
	.components-border-box-control {
		margin-bottom: 20px;
		margin-top: 10px;
	}




}